<template>
  <b-container fluid>
    <b-row>
      <b-col><Headder></Headder></b-col>
    </b-row>
    <b-row>
      <b-col cols="2"><Menu></Menu></b-col>
      <b-col><router-view></router-view> </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Headder from './Header.vue'
import Menu from './Menu.vue'
export default {
  components: {
    Headder,
    Menu
  }
}
</script>
