<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser">
      Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <!-- Name -->
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <!-- surName -->
        <b-form-group
          label="SurName"
          label-for="surname"
          :invalid-feedback="invalidFeedbackSurName"
          :valid-feedback="validFeedbackSurName"
          :state="stateSurName"
        >
          <b-form-input
            id="surname"
            v-model="form.surname"
            required
          ></b-form-input>
        </b-form-group>
        <!-- Gender -->
        <b-form-group
          label="Gender:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGen"
          :valid-feedback="validFeedbackGen"
          :state="stateGen"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>

        <!-- Brithday -->
        <b-form-group
          label="Brithday"
          label-for="brithday"
          :invalid-feedback="invalidFeedbackBrithday"
          :valid-feedback="validFeedbackBrithday"
          :state="stateBrithday"
        >
          <b-form-input
            id="brithday"
            v-model="form.brithday"
            required
          ></b-form-input>
        </b-form-group>
        <!-- Education -->
        <b-form-group
          label="Education:"
          label-for="education"
          :invalid-feedback="invalidFeedbackEducation"
          :valid-feedback="validFeedbackEducation"
          :state="stateEducation"
        >
          <b-form-select
            id="education"
            v-model="form.education"
            :options="educationOptions"
            required
          ></b-form-select>
        </b-form-group>
        <!-- Department -->
        <b-form-group
          label="Department"
          label-for="department"
          :invalid-feedback="invalidFeedbackDepartment"
          :valid-feedback="validFeedbackDepartment"
          :state="stateDepartment"
        >
          <b-form-input id="department" v-model="form.department" required></b-form-input>
        </b-form-group>
        <!-- Salary -->
        <b-form-group
          label="Salary"
          label-for="salary"
          :invalid-feedback="invalidFeedbackSalary"
          :valid-feedback="validFeedbackSalary"
          :state="stateSalary"
        >
          <b-form-input
            id="salary"
            v-model="form.salary"
            required
          ></b-form-input>
        </b-form-group>
        <!-- lll -->
        <b-card class="mt-3" header="Form Data Result">
          <pre class="m-0">{{ form }}</pre>
        </b-card>
      </form>
    </b-modal>

    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>
<!-- editHere -->
<script>
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        name: '',
        surname: '',
        gender: null,
        brithday: '',
        education: null,
        department: '',
        salary: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'ผู้ชาย' },
        { value: 'W', text: 'ผู้หญิง' }
      ],
      educationOptions: [
        { text: 'Select One', value: null },
        { value: 'Voc. Cert.', text: 'ปวช.' },
        { value: 'Dip.', text: 'ปวส.' },
        { value: 'Bachelor Degrees', text: 'ปริญาตรี' },
        { value: 'Master Degrees', text: 'ปริญาโท' },
        { value: 'Doctor Degrees', text: 'ปริญาเอก' },
        { value: 'Other', text: 'อื่น...' }
      ],
      userList: [
        {
          id: 1,
          name: 'Nattha',
          surname: 'Uadamrongsiri',
          gender: 'W',
          brithday: '05/06/2541',
          education: 'Bachelor Degrees',
          department: 'IT',
          salary: '30,000'
        },
        {
          id: 2,
          name: 'Polo',
          surname: 'Uadamrongsiri',
          gender: 'M',
          brithday: '05/06/2541',
          education: 'Doctor Degrees',
          department: 'Management',
          salary: '25,000'
        }
      ],
      lastId: 3,
      fields: [
        'id',
        'name',
        'surname',
        'gender',
        'brithday',
        'education',
        'department',
        'salary',
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit' + user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่ ? ', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        gender: null,
        brithday: '',
        education: null,
        department: '',
        salary: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (
        this.stateName === false ||
        this.stateGen === false ||
        this.stateBrithday === false ||
        this.stateEducation === false ||
        this.stateDepartment === false ||
        this.stateSalary === false
      ) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 อักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    // surname
    stateSurName () {
      return this.form.surname.length >= 2
    },
    invalidFeedbackSurName () {
      if (this.form.surname.length > 2) {
        return ''
      } else if (this.form.surname.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 อักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackSurName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    // Gen
    stateGen () {
      return this.form.gender != null
    },
    invalidFeedbackGen () {
      if (this.form.gender != null) {
        return ''
      } else if (this.form.gender === null) {
        return 'กรุณาเลือก'
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGen () {
      return this.stateGen === true ? 'สำเร็จ' : ''
    },
    // Britday
    stateBrithday () {
      return this.form.brithday.length >= 2
    },
    invalidFeedbackBrithday () {
      if (this.form.brithday.length > 2) {
        return ''
      } else if (this.form.brithday.length > 0) {
        return 'dd/mm/yyyy'
      } else {
        return 'กรุณาใส่ วัน เดือน ปีเกิด'
      }
    },
    validFeedbackBrithday () {
      return this.stateBrithday === true ? 'สำเร็จ' : ''
    },
    // Education
    stateEducation () {
      return this.form.education != null
    },
    invalidFeedbackEducation () {
      if (this.form.education != null) {
        return ''
      } else if (this.form.education === null) {
        return 'กรุณาเลือก'
      } else {
        return 'กรุณาเลือกวุฒิการศึกษา'
      }
    },
    validFeedbackEducation () {
      return this.stateEducation === true ? 'สำเร็จ' : ''
    },
    // department
    stateDepartment () {
      return this.form.department.length >= 2
    },
    invalidFeedbackDepartment () {
      if (this.form.department.length > 2) {
        return ''
      } else if (this.form.department.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 อักษร'
      } else {
        return 'ต้องใส่แผนก'
      }
    },
    validFeedbackDepartment () {
      return this.stateDepartment === true ? 'สำเร็จ' : ''
    },
    // salary
    stateSalary () {
      return this.form.salary.length >= 2
    },
    invalidFeedbackSalary () {
      if (this.form.salary.length > 2) {
        return ''
      } else if (this.form.salary > 2) {
        return 'กรุณาเงินเดือน'
      } else {
        return 'กรุณาใส่เงินเดือน'
      }
    },
    validFeedbackSalary () {
      return this.stateSalary === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
