<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Bomb</title>
</head>
<body>
    <div id="app">
        <div>{{ result}} {{ count }} Times </div>
        <bomb-button :is-bomb="true" @bomb="bomb" @click="clickBobm"></bomb-button>
        <bomb-button :is-bomb="true" @bomb="bomb" @click="clickBobm"></bomb-button >
        <bomb-button :is-bomb="false" @bomb="bomb" @click="clickBobm"></bomb-button> <br>
       
        <bomb-button :is-bomb="true" @bomb="bomb" @click="clickBobm"></bomb-button>
        <bomb-button :is-bomb="fales" @bomb="bomb" @click="clickBobm"></bomb-button>
        <bomb-button :is-bomb="true" @bomb="bomb" @click="clickBobm"></bomb-button> <br>

        <bomb-button :is-bomb="true" @bomb="bomb" @click="clickBobm"></bomb-button>
        <bomb-button :is-bomb="false" @bomb="bomb" @click="clickBobm"></bomb-button>
        <bomb-button :is-bomb="false" @bomb="bomb" @click="clickBobm"></bomb-button>
    </div>

    <script type="text/x-template" id="bomb-button">
        <button @click="open" style="width: 50px;height: 50px;">{{ value }} </button>
    </script>

   <script>
       Vue.component('bomb-button',{
           props:{
                isBomb:Boolean
       },

            data:function(){
                return{
                    value: '-',
                    clicked: false
                };
            }, 
            methods: {
            open:function(){
                if(this.clicked) return;
                this.clicked = true;
                    this.$emit('click');
                   if(!this.isBomb) return;
                       this.value='*';
                       this.$emit('bomb');
                       
                   
            
           }   
           },
           template: '#bomb-button',


       });
       var app = new Vue({
           el:'#app',
           data:{
               result: '',
                count: 0

           },
           methods: {
               clickBobm: function(){
                this.count++;
               },

           bomb:function(){
            console.log('Bomb');
            this.result = "You lose!!!";
           }
                   
            
           
           }
       });
       
   </script>
</body>
</html>